{% extends 'base.html' %}

{% block content %}

    <style>

    </style>

    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-search"></i>&nbsp;&nbsp;简历预览</h3>
            </div>
            <div class="panel-body">
                <!-- 简历在此处加载 -->
                <div id="pdf"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/app/resume.js"></script>
    <script type="application/javascript">
        $(function () {
            var resume = new PDFObject({
                url: '{{ resume_url }}',
                height: '500px'
            }).embed('pdf');
        });
    </script>
{% endblock %}