{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="/static/css/select2.min.css" type="text/css">

    <div class="panel-body">

        <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left form-horizontal" style="width: 100%;;" role="search">
                    <label for="tags" class="col-md-1 control-label">过滤</label>
                    <div class="col-md-10">
                        <select style="width: 100%;" class="form-control" id="tags" multiple="multiple"></select>
                    </div>
                    <button class="btn btn-sm btn-success" id="filter_btn" type="button">确定</button>
                </form>
            </div>
        </nav>

        <div class="resume-group" style="text-align: center">
            <p>请在上方过滤框中选择过滤条件</p>
        </div>


    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.material-cards.min.js"></script>
    <script type="application/javascript" src="/static/js/app/screen.js"></script>
{% endblock %}
